<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask</title>
</head>
<body>
    <h1>{{title}}</h1>
    <h2>Hvad synes du om kantinens priser?</h2>
    <form method="post" action="/q1/">
        {{ q1_form.hidden_tag() }}

        <label for="Billigt">Billigt</label>
        <input type="checkbox" id="Billigt" name="checkbox" value="Billigt"><br>

        <label for="Acceptabelt">Acceptabelt</label>
        <input type="checkbox" id="Acceptabelt" name="checkbox" value="Acceptabelt"><br>

        <label for="Dyrt">Dyrt</label>
        <input type="checkbox" id="Dyrt" name="checkbox" value="Dyrt"><br>

        <input type="submit" name="svar" value="Svar">
    </form>
</body>
</html>