<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask</title>
</head>
<body>
    <h1>{{title}}</h1>
   <h2>Hvad køber du oftest i kantinen?</h2>

   <form method="post" action="/q2/">
        <label for="Dagens ret">Dagens ret</label>
        <input type="checkbox" id="Dagens ret" name="checkboxes" value="Dagens ret"><br>

        <label for="Sandwich">Sandwich</label>
        <input type="checkbox" id="Sandwich" name="checkboxes" value="Sandwich"><br>

        <label for="Pizza">Pizza</label>
        <input type="checkbox" is="Pizza" name="checkboxes" value="Pizza"><br>

        <label for="Pølsehorn">Pølsehorn</label>
        <input type="checkbox" id="Pølsehorn" name="checkboxes" value="Pølsehorn"><br>

        <label for="Kage">Kage</label>
        <input type="checkbox" id="Kage" name="checkboxes" value="Kage"><br>

        <label for="Sodavand">Sodavand</label>
        <input type="checkbox" id="Sodavand" name="checkboxes" value="Sodavand"><br>
    <input type="submit" value="Svar">
   </form>
   
    

</body>
</html>