<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask</title>
</head>
<body>
    <h1>{{title}}</h1>
    <form method="post" action="/q2/">
        {{ q2_form.hidden_tag() }}

        <input type="radio" id="ja" name="valg" value= 1>
        <label for="ja">Ja</label><br>
        <input type="radio" id="nej" name="valg" value= 0>
        <label for="nej">Nej</label><br><br>
        <input type="submit" name="svar" value="Svar">
    </form>
</body>
</html>