<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask</title>
</head>
<body>
    <h1>{{title}}</h1>
   <h2>Hvad får dig ned i kantinen? </h2>

   <form method="post" action="/q3/">
        <label for="Det_er_nemt_og_hurtigt">Det er nemt og Hurtigt</label>
        <input type="checkbox" id="Det_er_nemt_og_hurtigt" name="checkboxes" value="Det_er_nemt_og_hurtigt"><br>

        <label for="God_stemning">God stemning</label>
        <input type="checkbox" id="God_stemning" name="checkboxes" value="God_stemning"><br>

    <input type="submit" value="Svar">
   </form>
   
    

</body>
</html>