<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask</title>
</head>
<body>
    <h1>{{title}}</h1>
    <h2>Hvad synes du om mængden af fritidsaktiviteter på HTX?</h2>

    <form method="post" action="/q4/">
        <label for="Der er for få fritidsaktiviteter">Der er for få fritidsaktiviteter </label>
        <input type="checkbox" id="Der er for få fritidsaktiviteter" name="checkboxes" value="Der er for få fritidsaktiviteter"><br>

        <label for="Passende mængde aktiviteter">Passende mængde aktiviteter</label>
        <input type="checkbox" id="Passende mængde aktiviteter" name="checkboxes" value="Passende mængde aktiviteter"><br>

        <label for="Der er for mange aktiviteter">Der er for mange aktiviteter</label>
        <input type="checkbox" id="Der er for mange aktiviteter" name="checkboxes" value="Der er for mange aktiviteter"><br>

        <input type="submit" value="Svar">
    </form>

</body>
</html>