<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>flask</title>
</head>
<body>
    <h1>{{title}}</h1>
    <h2>Hvad synes du om mængden af fritidsaktiviteter på HTX?</h2>

    <form method="post" action="/q4/">
        <label for="Der_er_for_få_fritidsaktiviteter">Der er for få fritidsaktiviteter </label>
        <input type="checkbox" id="Der_er_for_få_fritidsaktiviteter" name="checkboxes" value="Der_er_for_få_fritidsaktiviteter"><br>

        <label for="Passende_mængde_aktiviteter">Passende mængde aktiviteter</label>
        <input type="checkbox" id="Passende_mængde_aktiviteter" name="checkboxes" value="Passende_mængde_aktiviteter"><br>

        <label for="Der_er_for_mange_aktiviteter">Der er for mange aktiviteter</label>
        <input type="checkbox" id="Der_er_for_mange_aktiviteter" name="checkboxes" value="Der_er_for_mange_aktiviteter"><br>

        <input type="submit" value="Svar">
    </form>

</body>
</html>